<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp-like Chat</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="user-list">
            <div class="profile-user">
                <figure class="profile">
                    <img src="{{.photo}}" alt="{{.username}}" />
                    <figcaption>{{.username}}</figcaption>
                </figure>
            </div>
            <div class="clear"></div>
            <h3>Users</h3>
            <div>
            <ul id="users">
                <li>User1</li>
                <li>User2</li>
                <li>User3</li>
                <li>User4</li>
            </ul>
            </div>
        </div>

        <div class="chat-container">
            <div class="chat-header">
                <h3>Chat</h3>
            </div>
            <a href="#" id="loader">Load more messages</a>
            <div class="chat-body" id="chat-body">
                
            </div>

            <div class="chat-footer">
                <img src="/static/img/icon.png" alt="Icon" class="icon" id="icon">
                <input type="text" id="message-input" placeholder="Type a message...">
                <button onclick="sendMessage()">Send</button>
            </div>
            <div class="icones" id="icones">
                    
            </div>
        </div>
    </div>

    <script src="/static/js/mqttws31.min.js"></script>
    <script>
        var subscription = "{{.topic}}";
        var loggedId = "{{.idUser}}";
        var loggeduser= 	"{{.username}}";
        var loggedphoto = "{{.loggeduser}}";
    </script>
    <script src="/static/js/mqtt.js"></script>
</body>
</html>
