<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp-like Chat</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="user-list">
            <h3>Users</h3>
            <ul id="users">
                <li>User1</li>
                <li>User2</li>
                <li>User3</li>
                <li>User4</li>
            </ul>
        </div>

        <div class="chat-container">
            <div class="chat-header">
                <h3>Chat</h3>
            </div>

            <div class="chat-body" id="chat-body">
                
            </div>

            <div class="chat-footer">
                <input type="text" id="message-input" placeholder="Type a message...">
                <button onclick="SelectUser()">Send</button>
            </div>
        </div>
    </div>

    <script src="/static/js/mqttws31.min.js"></script>
    <script>
        var subscription = "{{.topic}}"
    </script>
    <script src="/static/js/mqtt.js"></script>
</body>
</html>
