<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Chat App</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h1>Login</h1>
            <form action="#">
                <div class="input-group">
                    <label for="phone-email">E-mail</label>
                    <input type="text" id="phone-email" placeholder="Entre com seu e-mail">
                    <label for="phone-senha">Senha</label>
                    <input type="text" id="phone-senha" placeholder="Entre com sua senha">
                </div>
                <button type="submit" class="login-btn">Login</button>
            </form>
        </div>
    </div>
</body>
</html>