<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Chat App</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h1>Login</h1>
            <form id="login-form">
                <div class="input-group">
                    <label for="phone-email">E-mail</label>
                    <input type="text" id="phone-email" placeholder="Entre com seu e-mail">
                    <label for="phone-senha">Senha</label>
                    <input type="text" id="phone-senha" placeholder="Entre com sua senha">
                </div>
                <button type="submit" class="login-btn">Login</button>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById('login-form').addEventListener('submit', function(event) {
            event.preventDefault(); 

            const email = document.getElementById('phone-email').value;
            const senha = document.getElementById('phone-senha').value;

            fetch('/action', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    //'Authorization': 'Bearer ' + token,
                },
                body: JSON.stringify({
                    email: email,
                    senha: senha
                })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erro ao processar a requisição');
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);  // Manipule o sucesso da resposta
            })
            .catch(error => {
                console.error('Error:', error);  // Manipule os erros
            });
        });
    </script>
</body>
</html>