* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.user-list {
    width: 25%;
    background-color: #2f3542;
    color: white;
    padding: 20px;
}

.user-list h3 {
    margin-bottom: 10px;
}

.user-list ul {
    list-style: none;
}

.user-list ul li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #57606f;
    border-radius: 5px;
    cursor: pointer;
}

.user-list ul li:hover {
    background-color: #1e272e;
}

.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: #57606f;
    padding: 15px;
    text-align: center;
    color: white;
}

.chat-body {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background-color: white;
}

.message {
    margin-bottom: 10px;
}

.message p {
    background-color: #dcdde1;
    padding: 10px;
    border-radius: 20px 12px 8px 0;
    max-width: 70%;
}

.message.sent p {
    background-color: #005C4B;
    align-self: flex-end;
    color:#fff
}

.message.received p {
    background-color: #202C33;
    align-self: flex-start;
    color:#fff
}

.time {
    font-size: 0.8em;
    color: #999;
}

.chat-footer {
    padding: 15px;
    background-color: #dfe4ea;
    display: flex;
}

.chat-footer input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.chat-footer button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #2ed573;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.chat-footer button:hover {
    background-color: #1e90ff;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .user-list {
        width: 100%;
        text-align: center;
    }

    .chat-container {
        width: 100%;
    }
}
