* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.user-list {
    width: 25%;
    background-color: #2f3542;
    color: white;
    padding: 20px;
}

.user-list h3 {
    margin-bottom: 10px;
}

.user-list ul {
    list-style: none;
}

.user-list ul li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #57606f;
    border-radius: 5px;
    cursor: pointer;
}

.user-list ul li:hover {
    background-color: #1e272e;
}


.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: #57606f;
    padding: 15px;
    text-align: center;
    color: white;
}

.chat-body {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background-color: white;
    min-height: 100px;
}

#loader{
    text-decoration: none;
    background-color: #2ed573;
    padding: 8px;
    width: 200px;
    color:#fff;
    border-radius: 8px;
    text-align: center;
    display: block;
    margin: 5px;
}

.message {
    margin-bottom: 10px;
}

.message p {
    background-color: #dcdde1;
    padding: 10px;
    border-radius: 20px 12px 8px 0;
    max-width: 70%;
}

.message.sent p {
    background-color: #005C4B;
    align-self: flex-end;
    color:#fff
}

.message.received p {
    background-color: #202C33;
    align-self: flex-start;
    color:#fff
}

.time {
    font-size: 0.8em;
    color: #999;
}

#users img,.user-itens img{
    clip-path: circle();
    width: 20%;
    float: left;
}

#users span,.user-itens figcaption{
    float: left;
    margin-top: 18px;
    margin-left: 10px;
}

.clear{
    clear: both;
}

.chat-footer {
    padding: 15px;
    background-color: #dfe4ea;
    display: flex;
    position: relative;
}

.chat-footer img{
    position: absolute;
    top:-5px;
    width: 30px;
    cursor: pointer;
}


.icones{
    width: 100%;
    height: 79px;
    background-color: #57606F;
    display: none;

}

.icones div.emoji{
    float: left;
    padding: 10px;
    cursor: pointer;
    background-color: #57606F;
   
}

.chat-footer input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.chat-footer button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #2ed573;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.chat-footer button:hover {
    background-color: #1e90ff;
}


.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 50px auto;
}

.login-box {
    text-align: center;
}

.login-box h1 {
    color: #25D366; /* WhatsApp green */
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #25D366; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.login-btn:hover {
    background-color: #20b058;
}

.cookie-consent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza tanto horizontalmente quanto verticalmente */
    width: 100%;
    max-width: 400px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.cookie-consent p {
    margin-bottom: 10px;
}

.cookie-consent button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.cookie-consent button:hover {
    background-color: #45a049;
}


a.registration{
    text-decoration: none;
    color:#45a049;
}

figure.profile img{
    width: 20%;
    clip-path: circle();
   
}

.profile-user{
    margin-bottom: 83px;
}

figure.profile *{
    float: left;
}

figure.profile figcaption{
    margin-top: 26px;
    margin-left: 9px;
}


@media (max-width: 600px) {
    .login-container {
        padding: 15px;
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .user-list {
        width: 100%;
        text-align: center;
    }

    .chat-container {
        width: 100%;
    }
}